<h1> Solar Forecast Project </h1>
<h3> By Anthony Ganci</h3>

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection

from sklearn.neural_network import MLPClassifier


data = pd.read_csv('solar_training.csv')
data['TIMESTAMP'] = pd.to_datetime(data['TIMESTAMP']).astype(np.int64)

dataTest = pd.read_csv('solar_test.csv')
dataTest['TIMESTAMP'] = pd.to_datetime(data['TIMESTAMP']).astype(np.int64)

data


# data = pd.read_csv('solar_training.csv', header='infer')
# X = data.iloc[:, :-1].values
# y = np.reshape(data.iloc[:, -1].values, (-1,1))

,ZONEID,TIMESTAMP,VAR78,VAR79,VAR134,VAR157,VAR164,VAR165,VAR166,VAR167,VAR169,VAR175,VAR178,VAR228,POWER
0,1,1333242000000000000,0.001967,0.003609,94843.6250,60.221909,0.244601,1.039334,-2.503039,294.448486,2577830.0,1202532.0,2861797.0,0.000000,0.754103
1,1,1333245600000000000,0.005524,0.033575,94757.9375,54.678604,0.457138,2.482865,-2.993330,295.651367,5356093.0,2446757.0,5949378.0,0.000000,0.555000
2,1,1333249200000000000,0.030113,0.132009,94732.8125,61.294891,0.771429,3.339867,-1.982535,294.454590,7921788.0,3681336.0,8939176.0,0.001341,0.438397
3,1,1333252800000000000,0.057167,0.110645,94704.0625,67.775284,0.965866,3.106102,-1.446051,293.261475,9860520.0,4921504.0,11331679.0,0.002501,0.145449
4,1,1333256400000000000,0.051027,0.189560,94675.0000,70.172989,0.944669,2.601146,-1.904493,292.732910,11143097.0,6254380.0,13105558.0,0.003331,0.111987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32827,3,1372622400000000000,0.000282,0.000000,93004.8750,93.563721,0.030579,0.326382,0.959934,273.410156,8714422.0,18433904.0,10020996.0,0.000000,0.000000
32828,3,1372626000000000000,0.000153,0.000000,93054.9375,93.547058,0.000000,0.387633,1.164658,273.242920,8714422.0,19345760.0,10020996.0,0.000000,0.000025
32829,3,1372629600000000000,0.000000,0.000000,93079.7500,92.827271,0.003815,0.264710,0.638873,273.979981,8791648.0,20239664.0,10153707.0,0.000000,0.087925
32830,3,1372633200000000000,0.000191,0.000000,93096.8750,83.627655,0.007629,0.295467,-0.092196,277.357910,9345027.0,21175104.0,10860760.0,0.000000,0.423100
32831,3,1372636800000000000,0.000473,0.000000,93104.6250,71.736588,0.002197,0.348950,-0.559104,280.173828,10404665.0,22129312.0,12114207.0,0.000000,0.589975

In [21]:
from sklearn.feature_selection import f_regression


X = data.iloc[:,1:14]
Y = data.iloc[:,-1]

bestFeature = SelectKBest(score_func=f_regression, k=6)
fit = bestFeature.fit(X,Y)

dataScores = pd.DataFrame(fit.scores_)
dataColumns = pd.DataFrame(X.columns)

featuresScores = pd.concat([dataColumns, dataScores], axis=1)
featuresScores.columns = ['Features', 'Score']
featuresScores.sort_values(by = 'Score')

     Features         Score
0   TIMESTAMP      2.094373
3      VAR134     57.336888
1       VAR78    223.384058
2       VAR79    255.086969
5      VAR164    340.637371
12     VAR228    501.889878
9      VAR169    711.504356
6      VAR165   1129.465644
11     VAR178   1215.832633
7      VAR166   1299.519582
10     VAR175   6933.074928
8      VAR167   9620.400025
4      VAR157  20014.023018

In [ ]:
# from sklearn.ensemble import BaggingClassifier, BaggingRegressor
# from sklearn.tree import ExtraTreeClassifier, ExtraTreeRegressor
# import math
# from sklearn.metrics import mean_squared_error

# X = data[['VAR157', 'VAR167', 'VAR175', 'VAR166', 'VAR178', 'VAR165']]
# Y = data[['POWER']]

# X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.4,random_state=100)

# trees = BaggingRegressor()
# trees.fit(X_train,y_train)
# scores_RMSE = math.sqrt(mean_squared_error(y_test, trees.predict(X_test)))
# logreg= LogisticRegression()
# logreg.fit(X_train,y_train.values.ravel())

# y_pred=logreg.predict(X_test)
# print (X_test) #test dataset
# print (y_pred) #predicted values

In [85]:
X_train = data.drop(['POWER'], axis='columns')
y_train = data['POWER']

dtnew = dataTest[np.isfinite(dataTest).all(1)]
X_test = dtnew.drop(['POWER'], axis='columns')
y_test = dtnew['POWER']

# print(X_train.shape)
# print(X_test.shape)
# print(y_train.shape)
# print(y_test.shape)

# print(np.any(np.isfinite(dtnew)))
# print(np.any(np.isnan(dtnew)))
# print(np.isfinite(data).all())
# print(np.isnan(data).all())

# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [84]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
regressor = lin_reg.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

from sklearn import metrics
print("Mean Absolute Error:", metrics.mean_absolute_error(y_test, y_pred))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(y_test, y_pred, squared=True)))

Mean Squared Error 0.14176255604609767
Mean Squared Error 0.03624895884779911

In [88]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(random_state=42, n_estimators=500)
regressor = rf_reg.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

from sklearn import metrics
print("Mean Absolute Error:", metrics.mean_absolute_error(y_test, y_pred))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(y_test, y_pred, squared=True)))

print(y_pred)

Mean Absolute Error: 0.06480542778241209
Root Mean Squared Error: 0.12136575284403191
[0.64926023 0.68118339 0.677193   ... 0.04035596 0.18354425 0.38163264]

In [87]:
from sklearn import svm
svm_reg = svm.SVR()
regressor = svm_reg.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

from sklearn import metrics
print("Mean Absolute Error:", metrics.mean_absolute_error(y_test, y_pred))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(y_test, y_pred, squared=True)))

Mean Absolute Error: 0.19818873325339884
Root Mean Squared Error: 0.08029257572150021